<div border="1" cellpadding="0" padding-top:20px; cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0;border-color:green;">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">
    <tbody>
      <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#fafafa" style="width:599px;max-width:599px">
            <tbody>
              <tr>
                <td>
                  <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#bd1550" style="width:599px;max-width:599px">
                    <tbody>
                      <tr>
                        <td width="100%" valign="middle" style="text-align:center; padding:11px 0;">
                          <a href="http://lacamarasinalma.com" target="_blank" >
                            <img src="http://res.cloudinary.com/hncjxyyct/image/upload/v1490299398/newsletter/logo.png" style="" border="0" alt="La Cámara sin Alma" >
                          </a>
                        </td>
                        <td width="66%" valign="middle" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="background:#fff;border-radius:8px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="font-family:Helvetica neue,Helvetica,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">  
                          <h1 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                            ¡Su pedido se ha realizado con éxito!
                          </h1>  
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:0 40px">        
                          <table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
                            <tbody>
                              <tr>
                                <td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">
                          <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                            Estimado Cliente <strong style"color:black;"><%= client[0].name %></strong>, Esto son sus datos del pedido
                          </h2>
                        </td>
                      </tr>
                      <!-- tabla de datos -->
                      <tr>
                        <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#f8f8f8">
                          <!--Inicio ticket-->
                          <table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin-bottom:12px">
                            <tbody>
                              <tr>
                                <td style="border-bottom:1px dashed #d3d3d3">
                                  <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                    Datos personales
                                  </h2>
                                </td>
                                <td colspan="2" style="text-align:right;border-bottom:1px dashed #d3d3d3">
                                  <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="3">                   
                                  <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px">
                                    &nbsp;
                                  </p>
                                  <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
                                    <thead>
                                      <tr>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Nombre
                                          </div>
                                        </th>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Teléfono
                                          </div>
                                        </th>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Ciudad
                                          </div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td style="padding:12px 0;padding-right:3px">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                            <%= client[0].name %>         
                                          </div>
                                        </td>
                                        <td style="padding:12px 0;padding-right:3px">                                    
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">    
                                            <%= client[0].phone %>                                
                                          </div>
                                        </td>                                
                                        <td style="text-align:right;padding:12px 0">                                    
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                            <%= client[0].city %>              
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#ededed">
                          <table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin-bottom:12px">
                            <tbody>
                              <tr>
                                <td style="border-bottom:1px dashed #d3d3d3">
                                  <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                    Datos del pedido: 
                                  </h2>
                                </td>
                                <td colspan="2" style="text-align:right;border-bottom:1px dashed #d3d3d3">
                                  <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="3">                
                                  <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px;margin-top:18px">
                                    Nº transacion:  <%= transaction %>
                                  </p>
                                  <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px">
                                    Nº Pedido:  <%= _id %>
                                  </p>
                                  <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
                                    <thead>
                                      <tr>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Producto
                                          </div>
                                        </th>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Cantidad
                                          </div>
                                        </th>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            Precio
                                          </div>
                                        </th>
                                        <th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:500">
                                            total
                                          </div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% cart.forEach( function(product){ %>
                                        <tr>
                                          <td style="padding:12px 0;padding-right:3px;border-bottom:1px dashed #d3d3d3;">
                                            <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                              <%= product._name %>         
                                            </div>
                                          </td>
                                          <td style="padding:12px 0;padding-right:3px;border-bottom:1px dashed #d3d3d3;">                                    
                                            <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">    
                                              <%= product._quantity %>                             
                                            </div>
                                          </td>                                
                                          <td style="text-align:right;padding:12px 0;border-bottom:1px dashed #d3d3d3;">                                    
                                            <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                              <%= product._price %>                     
                                            </div>
                                          </td>
                                          <td style="text-align:right;padding:12px 0;border-bottom:1px dashed #d3d3d3;">                                    
                                            <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                              <%= product._price*product._quantity %>                      
                                            </div>
                                          </td>
                                        </tr>
                                      <% }) %>
                                      <tr>
                                        <td colspan="3" style="padding:12px 0;padding-right:3px;text-align: right;border-bottom:1px dashed #d3d3d3;">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                            Subtotal            
                                          </div>
                                        </td>
                                        <td  style="padding:12px 0;padding-right:3px;border-left:1px dashed #d3d3d3;border-bottom:1px dashed #d3d3d3;">
                                          <div style="text-align: right; color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                          <%= (price-shipping) %> 
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" style="padding:12px 0;padding-right:3px;text-align: right;border-bottom:1px dashed #d3d3d3;">
                                          <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                            Envio            
                                          </div>
                                        </td>
                                        <td  style="padding:12px 0;padding-right:3px;border-left:1px dashed #d3d3d3;border-bottom:1px dashed #d3d3d3;">
                                          <div style="text-align: right; color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                          <%= shipping %>    
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" style="padding:12px 0;padding-right:3px;text-align: right;border-bottom:1px dashed #d3d3d3;">
                                            <div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                Total           
                                            </div>
                                        </td>
                                         <td  style="padding:12px 0;padding-right:3px;border-left:1px dashed #d3d3d3;border-bottom:1px dashed #d3d3d3;">
                                            <div style="text-align: right;color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica neue,Helvetica,Tahoma,Arial,sans-serif">
                                                <%= price %>          
                                            </div>
                                        </td>
                                    </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
                  </tbody>
              </table>
                      </td>
                  </tr>
                  <!-- Final tabla de datos -->
                          <tr>
                              <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#e4e5e6">
                                  <!--Politicas de privacidad-->
                                  <p style="text-align:center;color:#999;margin-bottom:0; font-size:10px;">
                                      Este mensaje está sujeto a los <a href="http://lacamarasinalma.com/legal/terms" style="text-decoration:none;color:#0f90ba" target="_blank" >términos de servicio</a> y la <a href="http://lacamarasinalma.com/legal/privacy" style="text-decoration:none;color:#0f90ba" target="_blank" >política de privacidad</a> de La Cámara sin alma 
                                  </p>
                              </td>
                          </tr>
                          <tr>
                              <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px;" >
                                  <div style="color:#666666;font-weight:400;font-size:11px;line-height:21px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif; text-align:center">
                                      *** NO RESPONDER - Este Mensaje Es Generado Automáticamente ***
                                  </div>  
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </td>
                  </tr>
                  </tbody>
              </table>
              <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:599px;max-width:599px;font-family:Helvetica,Arial,sans-serif">
                  <tbody>
                  <tr>
                      <td style="padding-top:24px">
                      </td>
                  </tr>
                  <tr>
                      <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:12px 20px" >
                      </td>
                  </tr>
                  <tr>
                      <td style="font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;padding:24px 0;text-align:center" >
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">
                              <a style="text-decoration:none;color:#0f90ba;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" href="http://lacamarasinalma.com/" target="_blank" >La Cámara sin Alma</a>
                          </div>
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px;">        
                              <span>
                                  Este mensaje de correo electrónico se envió desde: 
                                  <a style="text-decoration:none;color:#0f90ba;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif" >noreply@lacamarasinalma.com</a>
                              </span>
                          </div>
                          <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;font-weight:300">
                            Copyright © 2017 | La Cámara sin Alma. Todos los derechos reservados.
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      </tbody>
  </table>
</div>